#container {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    background-color: grey;
}
#main {
    width: 900px;
    height: 800px;
    margin: 0 auto;
    background-color: aliceblue;
}
#sidebar {
    width: 200px;
    height: 800px;
    float: left;
    background-color: darkslateblue;
}
#topbar {
    width: 700px;
    height: 200px;
    background-color: brown;
    float: right;
}
#gallery {
    width: 700px;
    height: 600px;
    float: right;
    clear: both;
}
.fa-ul {
    text-decoration: none;
}
.fa-ul li a {
    text-decoration: none;
    padding: 20px;
    color: snow;
    font-size: 20px;
}
.fa-ul li a:hover {
    color: dimgrey;
}
.fa-ul li {
    margin-bottom: 15px;
}
.dropbox {
    text-align: center;
    padding-top: 5px;
    color: #3d9ae8;
}
