#container {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    background-color: grey;
}
#main {
    width: 900px;
    height: 800px;
    margin: 0 auto;
    background-color: aliceblue;
}
#sidebar {
    width: 200px;
    height: 800px;
    float: left;
    background-color: darkslateblue;
}
#topbar {
    width: 700px;
    height: 200px;
    background-color: brown;
    float: right;
}
.top-name {
    margin-top: 10px;
    float: right;
    margin-right: 30px;
}
.nav-bar ul {
    list-style-type: none;
}
.nav-bar ul li {
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    float: right;
    padding-right: 10px;
    padding-top: 50px;
}
.nav-bar ul li a {
    text-decoration: none;
    color: black;
    font-family: 13px;
}
#navigation .active a {
    border-color: black;
    background-color: black;
    border-radius: 3px;
    color: snow;
}
#navigation a:hover {
    border-color: black;
    background-color: black;
    border-radius: 3px;
    color: snow;
}
.photo {
    font-size: 13px;
}

/* Gallery items */

#gallery {
    width: 700px;
    height: 800px;
    float: right;
}
#gallery ul {
    list-style-type: none;
}
.image-items li {
    text-decoration: none;
    display: inline-block;
}
#gallery h4,
p {
    font-size: 10px;
}
img {
    width: 120px;
    height: 100px;
}
.fa-ul {
    text-decoration: none;
}
.fa-ul li a {
    text-decoration: none;
    color: snow;
    font-size: 20px;
}
.fa-ul li a:hover {
    color: crimson;
}
.fa-ul li {
    margin-bottom: 15px;
}
.dropbox {
    text-align: center;
    padding-top: 5px;
    color: #3d9ae8;
}
